## 작업 시퀀스

1. 데이터 인코딩 체크 및 오픈
2. 컬럼 drop
3. 순서 맞게 concat
4. save

## 데이터 로드

In [1]:
import pandas as pd
import numpy as np

In [2]:
main_df = pd.read_csv('integrated_2021.csv', delimiter=',')
main_df.head()

,Unnamed: 0,공원최단거리,도서관최단거리,초등학교최단거리,중학교최단거리,고등학교최단거리,지진옥외대피소최단거리,응급실최단거리,0.5km지하철,1.0km지하철,...,2.5km병원,0.1km버스정류장,0.3km버스정류장,0.5km버스정류장,건물면적,건물금액,건물주용도,건물명,latitude,longitude
0,0,1.741,0.390,0.373,0.815,0.506,0.386,3.173,0.0,0.0,...,2.0,1.0,11.0,23.0,90.30,560000000,연립주택,(345-62),37.606645,126.962909
1,1,0.413,0.300,0.308,0.159,0.146,0.269,1.278,1.0,8.0,...,36.0,0.0,6.0,21.0,54.70,700000000,아파트,창신쌍용2,37.580421,127.011724
2,2,0.555,0.140,0.554,0.505,0.505,0.172,1.010,3.0,8.0,...,38.0,3.0,11.0,22.0,17.88,112000000,오피스텔,종로 아인스빌,37.573667,127.022640
3,3,0.740,0.063,0.396,0.101,0.233,0.116,0.579,1.0,4.0,...,17.0,3.0,15.0,38.0,84.93,1950000000,아파트,신촌숲아이파크,37.546842,126.934558
4,4,0.992,0.111,0.526,0.977,1.070,0.252,2.493,0.0,2.0,...,12.0,0.0,11.0,29.0,60.06,380000000,연립주택,래디앙1차,37.553717,126.904298

In [3]:
sub_df = pd.read_csv('station_2021_renewed.csv', delimiter=',')
sub_df.head()

   Unnamed: 0  0.5km지하철  1.0km지하철  1.5km지하철
0           0         0         0         0
1           1         1         4         5
2           2         3         4         5
3           3         1         3         5
4           4         0         1         2

## main_df 전처리

In [4]:
main_df.columns

Index(['Unnamed: 0', '공원최단거리', '도서관최단거리', '초등학교최단거리', '중학교최단거리', '고등학교최단거리',
       '지진옥외대피소최단거리', '응급실최단거리', '0.5km지하철', '1.0km지하철', '1.5km지하철', '1.0km병원',
       '2.5km병원', '0.1km버스정류장', '0.3km버스정류장', '0.5km버스정류장', '건물면적', '건물금액',
       '건물주용도', '건물명', 'latitude', 'longitude'],
      dtype='object')

In [10]:
# https://wikidocs.net/154050
tmp_df = main_df.drop(labels = ['Unnamed: 0', '0.5km지하철', '1.0km지하철', '1.5km지하철', 'latitude', 'longitude', '건물명', ], axis = 1)
tmp_df.head()

,공원최단거리,도서관최단거리,초등학교최단거리,중학교최단거리,고등학교최단거리,지진옥외대피소최단거리,응급실최단거리,1.0km병원,2.5km병원,0.1km버스정류장,0.3km버스정류장,0.5km버스정류장,건물면적,건물금액,건물주용도
0,1.741,0.390,0.373,0.815,0.506,0.386,3.173,1.0,2.0,1.0,11.0,23.0,90.30,560000000,연립주택
1,0.413,0.300,0.308,0.159,0.146,0.269,1.278,3.0,36.0,0.0,6.0,21.0,54.70,700000000,아파트
2,0.555,0.140,0.554,0.505,0.505,0.172,1.010,13.0,38.0,3.0,11.0,22.0,17.88,112000000,오피스텔
3,0.740,0.063,0.396,0.101,0.233,0.116,0.579,6.0,17.0,3.0,15.0,38.0,84.93,1950000000,아파트
4,0.992,0.111,0.526,0.977,1.070,0.252,2.493,0.0,12.0,0.0,11.0,29.0,60.06,380000000,연립주택

In [11]:
# https://www.geeksforgeeks.org/how-to-convert-categorical-variable-to-numeric-in-pandas/
tmp_df['건물주용도'].replace(['연립주택', '오피스텔', '아파트'], [-1, 0, 1], inplace = True)
tmp_df

,공원최단거리,도서관최단거리,초등학교최단거리,중학교최단거리,고등학교최단거리,지진옥외대피소최단거리,응급실최단거리,1.0km병원,2.5km병원,0.1km버스정류장,0.3km버스정류장,0.5km버스정류장,건물면적,건물금액,건물주용도
0,1.741,0.390,0.373,0.815,0.506,0.386,3.173,1.0,2.0,1.0,11.0,23.0,90.30,560000000,-1
1,0.413,0.300,0.308,0.159,0.146,0.269,1.278,3.0,36.0,0.0,6.0,21.0,54.70,700000000,1
2,0.555,0.140,0.554,0.505,0.505,0.172,1.010,13.0,38.0,3.0,11.0,22.0,17.88,112000000,0
3,0.740,0.063,0.396,0.101,0.233,0.116,0.579,6.0,17.0,3.0,15.0,38.0,84.93,1950000000,1
4,0.992,0.111,0.526,0.977,1.070,0.252,2.493,0.0,12.0,0.0,11.0,29.0,60.06,380000000,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122479,1.091,0.103,0.158,0.566,0.551,0.222,2.979,4.0,11.0,0.0,6.0,13.0,58.48,450000000,-1
122480,0.803,0.097,0.413,0.611,0.508,0.430,4.816,0.0,5.0,2.0,17.0,26.0,59.51,600000000,0
122481,0.420,0.237,0.302,0.665,0.417,0.222,3.306,5.0,9.0,4.0,8.0,15.0,59.99,1450000000,1
122482,1.666,0.391,0.196,0.121,0.543,0.105,0.823,13.0,42.0,1.0,7.0,20.0,20.25,156000000,-1
122483,0.899,0.138,0.736,0.355,1.175,0.317,0.450,23.0,41.0,1.0,4.0,20.0,20.48,90000000,0

In [12]:
sub_df = sub_df.drop(labels = ['Unnamed: 0'], axis = 1)
sub_df

        0.5km지하철  1.0km지하철  1.5km지하철
0              0         0         0
1              1         4         5
2              3         4         5
3              1         3         5
4              0         1         2
...          ...       ...       ...
122479         0         1         1
122480         0         1         1
122481         0         1         1
122482         1         2         2
122483         1         2         2

[122484 rows x 3 columns]

In [15]:
# https://www.geeksforgeeks.org/how-to-concatenate-two-or-more-pandas-dataframes/
result_df = pd.concat([tmp_df, sub_df], axis = 1)
result_df.head()

,공원최단거리,도서관최단거리,초등학교최단거리,중학교최단거리,고등학교최단거리,지진옥외대피소최단거리,응급실최단거리,1.0km병원,2.5km병원,0.1km버스정류장,0.3km버스정류장,0.5km버스정류장,건물면적,건물금액,건물주용도,0.5km지하철,1.0km지하철,1.5km지하철
0,1.741,0.390,0.373,0.815,0.506,0.386,3.173,1.0,2.0,1.0,11.0,23.0,90.30,560000000,-1,0,0,0
1,0.413,0.300,0.308,0.159,0.146,0.269,1.278,3.0,36.0,0.0,6.0,21.0,54.70,700000000,1,1,4,5
2,0.555,0.140,0.554,0.505,0.505,0.172,1.010,13.0,38.0,3.0,11.0,22.0,17.88,112000000,0,3,4,5
3,0.740,0.063,0.396,0.101,0.233,0.116,0.579,6.0,17.0,3.0,15.0,38.0,84.93,1950000000,1,1,3,5
4,0.992,0.111,0.526,0.977,1.070,0.252,2.493,0.0,12.0,0.0,11.0,29.0,60.06,380000000,-1,0,1,2

In [16]:
result_df.columns

Index(['공원최단거리', '도서관최단거리', '초등학교최단거리', '중학교최단거리', '고등학교최단거리', '지진옥외대피소최단거리',
       '응급실최단거리', '1.0km병원', '2.5km병원', '0.1km버스정류장', '0.3km버스정류장',
       '0.5km버스정류장', '건물면적', '건물금액', '건물주용도', '0.5km지하철', '1.0km지하철',
       '1.5km지하철'],
      dtype='object')

In [17]:
result_df.to_csv('processed_2021.csv', sep = ',', encoding='utf-8')